h1{
  color: white;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

.container-listar-produtos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-list-item{
    display: flex;
    width: 550px;
    height: 3rem;
    border-radius: 5px;
    background-color: #F5F5F5;

    -webkit-box-shadow: 10px 10px 10px -6px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 10px -6px rgba(0,0,0,1);
    box-shadow: 10px 10px 10px -6px rgba(0,0,0,1);
  }

  #icone-edit{
    float: right;
  }
  #icone-lixeira{
    color: rgb(255, 0, 0);
    float: right;
  }

}